[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "colors/start/nerdtree"]
	path = colors/start/nerdtree
	url = https://github.com/morhetz/gruvbox.git
[submodule "plugins/start/vim-go"]
	path = plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "plugins/start/utilsnips"]
	path = plugins/start/utilsnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "syntax/start/vim-solidity"]
	path = syntax/start/vim-solidity
	url = https://github.com/TovarishFin/vim-solidity.git
[submodule "plugins/start/syntastic"]
	path = plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "plugins/start/ale"]
	path = plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
