[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "colors/start/nerdtree"]
	path = colors/start/nerdtree
	url = https://github.com/morhetz/gruvbox.git
[submodule "plugins/start/vim-go"]
	path = plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "plugins/start/utilsnips"]
	path = plugins/start/utilsnips
	url = https://github.com/SirVer/ultisnips.git
